/*
    Fonts
*/
$base-font: Arial, sans-serif;

/*
    Font Sizes
*/
$base-font-size:16px;

/*
    Colours
*/

$white:#fff;
$black:#000;


/*
    Paths
*/
$imgpath: 'public/img';

/*
	Utilities
*/

$max-width: 1380px;

$total-columns:12;

$animation-time:0.3s;